<div class="accordion" (click)="toggle()">
  <div class="title">
    <div>
      {{ idea.title }}
    </div>
    <div class="icons">
      <sdi-button variant="icon" icon="pencil" (onClick)="editItem()"></sdi-button>
      @if (idea.favorite) {
        <sdi-button variant="icon" icon="heartFilled" iconColor="red" (onClick)="toggleFavorite()"></sdi-button>
      } @else {
        <sdi-button variant="icon" icon="heart" (onClick)="toggleFavorite()"></sdi-button>
      }
      <sdi-icon name="chevron" [class.rotate]="isOpen"></sdi-icon>
    </div>
  </div>
  @if(isOpen) {
    <div class="content" [@accordionToggle]>
      <div class="inner">
        {{ idea.description }}
      </div>
    </div>
  }
</div>


