<div class="header">
  <svg viewBox="0 0 500 200" width="100%" height="200" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <path id="curve" d="M 50,150 A 200,100 0 0,1 450,150" fill="none" stroke="lightgray" />
    </defs>
    <text font-size="32" fill="black" text-anchor="middle">
      <textPath href="#curve" startOffset="50%">
        Welcome to <tspan font-weight="bold">Super Duper Ideas</tspan>!
      </textPath>
    </text>
  </svg>

  <sdi-icon name="star" [size]="'2rem'"></sdi-icon>

</div>

<sdi-ideas></sdi-ideas>
