<form class="idea-form" [formGroup]="ideaForm" (ngSubmit)="saveIdea()">
  <div class="input-box">
    <label for="title">Super nazwa pomysłu</label>
    <input type="text" id="title" formControlName="title" />
  </div>
  <div class="input-box">
    <label for="description">Opis</label>
    <textarea id="description" name="description" formControlName="description"></textarea>
  </div>
  <div class="checkbox-box">
    <input type="checkbox" id="favorite" name="favorite" formControlName="favorite" />
    <label for="favorite">Oznacz jako ulubiony</label>
  </div>

  <div class="actions">
    <sdi-button variant="cancel" label="Nieważne..." (onClick)="onCancel.emit()"></sdi-button>
    <sdi-button variant="action" label="Zapisz" [type]="'submit'" [disabled]="!ideaForm.valid"></sdi-button>
  </div>
</form>
