/* You can add global styles to this file, and also import other style files */
@use 'variables' as *;

body {
  background-color: $background-light;
  margin: 0;
  font-family: system-ui, sans-serif;
}

input,
textarea {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid $form-border;
  color: $text-color;

  &:hover {
    border-color: $form-border-hover;
  }

  &:focus {
    outline: none;
    border-color: $form-border-focus;
    box-shadow: $form-focus-shadow; // soft glow
  }
}

input[type="checkbox"] {
  accent-color: $accent-hover;
  height: 1.25rem;
  width: 1.25rem;
}
