/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f5f5f5; // delikatny jasny szary
  margin: 0;
  font-family: system-ui, sans-serif;
}

input,
textarea {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #9ca3af;
  color: #111827;

  &:focus {
    outline: none;
    border-color: #fb923c; // pomarańczowy (orange-400)
    box-shadow: 0 0 0 3px rgba(251, 146, 60, 0.3); // soft glow
  }
}

input[type="checkbox"] {
  accent-color: #fed7aa; // pomarańczowy (orange-200)
  height: 1.25rem;
  width: 1.25rem;
}
